

body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  margin-left: 200px;
  background-color: black;
  font-family: 'Quicksand', Arial, sans-serif;
}

/* White card styling */
.card {
  width: 400px;
  height: auto;
  background-color: white;
  padding: 60px 40px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-align: left;
}

/* Text styling */
.card h3 {
  color: black;
  font-size: 20px;
  margin: 0;
  line-height: 1.7;
}

button {
  position: absolute; /* Positions the button absolutely */
  top: 30px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position if necessary */
  color: black;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: white; /* Optional: add background color for better visibility */
  cursor: pointer; /* Makes the button look clickable */
}
