/* Ensuring the full viewport height is used */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: 'Lato', Arial, sans-serif;
  
}

.section_1, .section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  height: 50vh; /* Each section fills half of the viewport height */
}

/* Background colors for each section */
.section_1 {
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 400px ;
}

.section_2 {
  background-color: #666666;
}

h1 {
  font-weight: 800;
  font-size: 32px;
}

p{
  font-weight: 400;
  font-size: 20px;
}

.card {
  position: relative;
  width: 800px;
  height: auto;
  background-color: white;
  padding: 60px 40px 40px 40px;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2); */
  margin-right: 10px;
  text-align: left;
  border-bottom: 8px solid #999999;

  
  
}

.card_2 {
  position: absolute;
  top: -10px;
  left: -5px;
  font-size: 18px;
  background-color: #FFBF00;
  /* box-shadow: 0 4px 1px rgba(0, 0, 0, 0.2); */
  width: 398;
  height: 100;
  padding: 15px;
  border-bottom: 8px solid #CC9900;
  
}


/* Responsive Styling */
@media (max-width: 1024px) {
  .section_1 {
    margin-left: 200px;
    align-items: flex-start;
  }
  .card {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .section_1 {
    margin-left: 0;
    padding: 10px;
    align-items: flex-start;
    text-align: flex-start;
  }

  .section_2 {
    padding: 10px;
  }

  .card {
    width: 100%;
    padding: 40px 20px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  .p_heading {
    padding-top: 50px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
  .p_heading {
    padding-top: 50px;
  }

  .card {
    padding: 20px 10px;
  }
}

button {
  position: absolute; /* Positions the button absolutely */
  top: 10px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position if necessary */
  color: black;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: white; /* Optional: add background color for better visibility */
  cursor: pointer; /* Makes the button look clickable */
}
